/* Import */

@import "https://fonts.googleapis.com/css?family=Righteous";

/* Global */

body {
    font-family: "Righteous", sans-serif;
    background-image: url("../img/overlay.png");
    background-color: ghostwhite;
    background-size: 200px 200px;
    padding-top: 56px;
}

a,
button,
[ui-sref],
[ng-click] {
    cursor: pointer;
    text-decoration: none !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
    background: ghostwhite;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #343a40;
}


/* A */

a.on-dark:hover {
    color: #6cb3ff !important;
}


/* Button */

.btn-block {
    letter-spacing: 1px;
}

input.btn-outline-secondary:hover:not(.active) {
    background: none;
    color: #6c757d;
}


/* Navbar */

.navbar-brand {
    margin-right: 2rem;
}

@media (min-width: 992px) {
    .navbar .nav-link {
        padding: 16px 16px !important;
        margin: -8px 0;
    }
    .navbar .active .nav-link,
    .navbar .show .nav-link {
        background: rgba(0, 0, 0, 0.25);
    }
}


/* Cover */

.cover {
    padding: 60px 0;
    color: #fff;
    background: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cover p {
    color: #eee;
}

.cover-bg {
    padding: 120px 0;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.25);
}

.cover-bg:not(.cover-bg-pattern) {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 10000px rgba(52, 58, 64, 0.9);
}

.cover h1 {
    font-size: 3rem;
}

.cover h2 {
    opacity: 0.8;
}

.cover h1 small {
    font-size: 1.5rem;
}


/* Backgrounds */

.bg-arena {
    background-image: url("../img/arena.jpg");
}

.bg-pattern {
    background-image: url("../img/pattern.jpg");
}


/* Member */

member {
    padding: 12px 25px;
    cursor: pointer;
    display: block;
}

member:hover {
    background: rgba(0, 0, 0, 0.1);
}

member:first-child {
    border-top: none;
}

member:last-child {
    border-bottom: none;
}

member name {
    font-size: 1.4em;
}

member.legendary name,
.rarity-legendary {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

member.epic name,
.rarity-epic {
    color: #ce02ff;
}

member.rare name,
.rarity-rare {
    color: #ef761d;
}

member.common name {
    color: rgba(0, 0, 0, 0.7);
}

member score {
    float: right;
    font-size: 1.4em;
    padding-top: 4px;
}

member role {
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 0.9em;
}


/* Card */

card {
    text-align: center;
    display: inline-block;
    color: #eee;
    max-width: 180px;
}

card:hover {
    z-index: 1;
    position: relative;
}

card:not(.init) {
    width: 100%;
}

card:not(.auto) {
    width: 25%;
}

card cover {
    background-position: 50%;
    background-size: 170px;
    background-repeat: no-repeat;
    display: block;
    height: 180px;
    margin: 6px;
    border: 4px solid #666;
    border-radius: 2px;
    box-shadow: inset 0 -50px 20px -15px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

card cover,
card name,
card cost {
    transition: all 0.1s ease-in-out;
}

card:not(.no-cover-hover) cover:hover {
    border-color: rgba(0, 0, 0, 0.1) !important;
    background-size: 180px;
    box-shadow: none;
}

card:not(.no-cover-hover) cover:hover name,
card:not(.no-cover-hover) cover:hover cost {
    opacity: 0;
}

card cover.epic {
    border-color: magenta;
}

card cover.rare {
    border-color: orange;
}

card cover.legendary {
    border-color: #00ff7e;
}

card name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding-top: 125px;
    width: 100%;
    font-size: 0.8em;
}

card cost {
    background: #e22ee3;
    box-shadow: inset 0 -10px 8px rgba(0, 0, 0, 0.5);
    float: left;
    margin-top: -12px;
    margin-left: -12px;
    width: 30px;
    height: 35px;
    border-radius: 100% 4px 100% 100%;
    color: #fea1ff;
    font-size: 1.3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

card.no-cost cost,
card.no-name name {
    display: none;
}

card.no-name cover {
    box-shadow: none;
}


/* Match */

matches {
    max-width: 100%;
    overflow-x: auto;
    display: block;
    cursor: default;
}

stage {
    width: 200px;
    display: inline-block;
}

match {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

match line {
    width: 4px;
    height: 30px;
    background: #333;
    display: block;
    margin: -15px calc(50% - 4px);
}

match player {
    display: block;
    background: #EEE;
    border: 4px solid #333;
    margin: 15px 0;
    padding: 15px 20px;
    font-size: 1.2rem;
    text-align: center;
}

match player.winner {
    background: chartreuse;
}


/* Modal */

.modal-content {
    margin-top: 100px;
}

.modal-header button {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.modal-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4 {
    width: 100%;
    margin: 0;
    text-align: center;
}


/* Card header */

.card-header .fas {
    float: right;
    margin-top: 5px;
}


/* Toaster */

#toast-container>div {
    box-shadow: 0 0 !important;
    transition: opacity 0.2s ease-in-out;
}

#toast-container .toast-title {
    font-weight: normal;
    letter-spacing: 0.5px;
}

#toast-container .toast-message {
    font-size: 0.8em;
}


/* Member detail */

.card-detail {
    background: #292b2c;
    padding-top: 40px;
    border-radius: 3px;
    border-top: 4px solid;
    text-align: center;
}

.card-detail .fa {
    border-color: #222;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.2em;
    font-size: 4em;
    transition: all 0.15s ease-in-out;
}

.card-detail:hover .fa {
    text-shadow: 0 0 10px;
}

.card-detail h5 {
    opacity: 0.5;
    color: #fff;
    margin-top: 20px;
}

.card-detail h2 {
    margin-bottom: 0;
    margin-top: 40px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
}


/* User picture */

.user-picture-wrapper {
    text-align: center;
}

.user-picture {
    background-size: cover;
    background-position: center;
    background-color: #111;
    max-width: 100%;
    width: 200px;
    height: 200px;
    display: inline-block;
    box-sizing: content-box;
    border-radius: 100%;
    border: 6px solid rgba(0, 0, 0, 0.5);
}


/* Slots */

.slots {
    position: absolute;
}

.slots cost {
    display: none;
}

.slots cover {
    border-color: saddlebrown;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

.slots-wrapper {
    min-height: 424px;
}


/* Inline Cards */

.inline-cards-item {
    display: inline-block;
    width: 35%;
    margin: 0;
    margin-right: -13%;
}

.inline-cards-item img {
    max-width: 100%;
}


/* Media */

@media screen and (max-width: 992px) {
    body:not(.pattern),
    .cover {
        background-size: cover;
        background-position: center;
        height: auto;
    }
}


/* Tooltip */

[uib-tooltip] {
    cursor: pointer;
}

.tooltip.in {
    opacity: 1;
}

.tooltip .tooltip-inner {
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color: #fff;
}


/* Footer */

.footer {
    box-shadow: 0 1000px 0 1000px #eee;
    background: #eee;
}


/* User image */

.user-image {
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 48px;
}

.media .user-image {
    margin-top: 0;
    margin-right: 1rem;
}


/* Font awesome */

.fa-circle {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10000px;
    display: inline-block;
    text-align: center;
    height: 36px;
    width: 36px;
    padding-top: 6px;
    margin: -5px 0;
    margin-right: 2px;
}


/* List group */

.list-group-item {
    border-color: ghostwhite;
}

a.list-group-item:hover {
    background-color: ghostwhite;
}
