<div class="container-fluid cover cover-bg cover-bg-pattern bg-pattern">
  <div class="container">
    <h1>
      <span class="rarity-{{ member.get.rarity | lowercase }}">{{ member.get.name || "..." | underspace }}</span>
      <!-- <span class="text-warning float-right"><i class="fas fa-star"></i> 244{{ member.get.score }}</span> -->
    </h1>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-lg-4 my-2" ng-repeat="card in detailCards">
      <div class="card-detail text-{{ card.color }}">
        <i class="fas fa-5x fa-{{ card.icon }} text-{{ card.color }}"></i>
        <h5>{{ card.title }}</h5>
        <h2>{{ card.value || "..." }}</h2>
      </div>
    </div>
  </div>
</div>
