<!-- Header -->
<div class="container py-4 mobile-same">
  <h1 class="text-dark my-2">Deck List</h1>
  <hr class="mobile-hide mb-0">
</div>

<!-- Decks -->
<div class="container">

  <!-- Filter -->
  <div class="card">
    <div class="card-header bg-dark text-white">
      <!-- Title -->
      <span>Filter</span>
      <!-- Reset button -->
      <button class="btn btn-warning btn-sm float-right" ng-click="resetFilter()">Reset</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <!-- Deck arena -->
          <div class="form-group mb-0">
            <select class="form-control" ng-model="deckFilter.arena" ng-change="filter('arena')">
              <option ng-value="null">Deck arena</option>
              <option ng-value="$index" ng-repeat="arena in deckArenas">{{ deckArenas[$index] }}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Deck type -->
          <div class="form-group mb-0">
            <select class="form-control" ng-model="deckFilter.kind" ng-change="filter('kind')">
              <option ng-value="null">Deck type</option>
              <option ng-value="$index" ng-repeat="type in deckKinds">{{ deckKinds[$index] }}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group mb-0">
            <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons-checkbox">
              <input ng-repeat="mode in modes"
                class="btn btn-outline-secondary w-100"
                type="button" ng-model="deckFilter[mode.key]" value="{{mode.label}}" ng-change="filter(mode.key)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nothing -->
  <ng-include src="static('components/common/nothing/nothing_include.html')"
    ng-if="!decks.length && initialled"
    ng-init="nothingText = pageNothingText">
  </ng-include>

  <!-- Loading -->
  <div class="text-center py-5" ng-if="!decks.length && !initialled">
    <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
  </div>

  <!-- Decks -->
  <div class="row" ng-if="decks.length">
    <div class="col-lg-4 col-md-6"
      ng-repeat="deck in decks"
      ng-class="{'o-fade animated bounce': deck.isDeleted }">
      <div class="card my-3">

        <!-- Header -->
        <div class="card-header bg-dark text-white py-4" ng-if="!deck.isDeleted">

          <!-- AEC -->
          <span class="o-fade-soft"><i class="fas fa-tint"></i> {{ deck.getAvgElixir() || 0 }}</span>

          <!-- Name (link) -->
          <a ui-sref="app.deck({id: deck.id, deck: deck})" class="text-white on-dark">{{ deck.name }}</a>

          <!-- Options -->
          <button class="btn btn-warning btn-sm float-right" style="margin: -4px" data-toggle="dropdown">
            <i class="fas fa-chevron-down"></i>
          </button>

          <!-- Options menu -->
          <div class="dropdown-menu">
            <!-- Links -->
            <a class="dropdown-item" ui-sref="app.deck({id: deck.id, deck: deck})">View Deck</a>
            <a class="dropdown-item" ui-sref="app.deck-list({username: deck.user.username})">
              View {{ deck.user.username }}'s Decks
            </a>
            <a class="dropdown-item" ui-sref="app.deck-new({deck: deck})">Copy and Edit</a>
            <a class="dropdown-item text-primary" ng-href="{{ deck.getCopyLink() }}">Copy to Game</a>
            <!-- Owner options -->
            <span ng-if="deck.isOwner()">
              <hr>
              <h6 class="dropdown-header">Owner Options</h6>
              <a class="dropdown-item text-success" ui-sref="app.deck-new({id: deck.id, deck: deck})">Update Deck</a>
              <a class="dropdown-item text-success" ng-click="deck.delete()">Delete Deck</a>
            </span>
          </div>
        </div>

        <!-- Deleted header -->
        <div class="card-header bg-dark text-white py-3" ng-if="deck.isDeleted">
          <span><i class="fas fa-ban text-warning"></i> Deleted</span>
        </div>

        <!-- Cards -->
        <div class="card-body bg-pattern vertilize p-2">
          <div class="inline-cards">
            <card class="inline-cards-item auto init no-name no-cost no-cover-hover"
              ng-repeat="card in deck.cards"
              ng-include="static('components/card/card_include.html')"
              ng-click="card.view()">
            </card>
          </div>
        </div>

        <!-- Footer -->
        <div class="card-footer bg-white">

          <!-- Type -->
          <span ng-if="deck.kind > 0">{{ deck.getKind() }} deck &bull;</span>

          <!-- User -->
          <a ui-sref="app.user({username: deck.user.username })">
            By {{ deck.user.username }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Load more -->
  <ng-include src="static('components/common/pagination/pagination_include.html')"></ng-include>
</div>
