/* Global */

body {
    padding-top: 100px;
    background: #333;
    color: #eee;
    cursor: default;
    min-height: 1000px;
}

body:not(.pattern) {
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

a,
button,
input {
    outline: 0 !important;
}


/* Navbar */

.navbar .fa {
    font-size: 1.9em;
    position: relative;
    top: 5px;
}

.navbar-brand small{
    font-size: 0.5em;
    margin-left: 4px;
    font-weight: bold;
}


/* Cover */

.cover {
    background-image: url(../img/arena.jpg);
    margin-top: -36px;
    margin-bottom: 30px;
    height: 300px;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-size: 100%;
    border-bottom: 2px solid #333;
    padding: 20px;
}

.cover h2,
.cover h4 {
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-weight: bold;
}

.cover h4 {
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
    font-size: 1.2em;
    padding-left: 2px;
}


/* Panel */

.panel {
    overflow: hidden;
}

.panel-title {
    font-size: 1.6em;
    padding: 20px 0;
}

.panel-title .fa {
    float: right;
    margin-right: 10px;
}


/* Member */

[member] {
    padding: 12px 25px;
    border: 1px solid #333;
    margin-top: -1px;
    border-right: 0;
    border-left: 0;
    background: rgba(30, 30, 30, 0.75);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

[member]:hover {
    background: rgba(30, 30, 30, 0.9);
}

[member]:first-child {
    border-top: none;
}

[member]:last-child {
    border-bottom: none;
}

[member] name {
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

[member].legendary name {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

[member].epic name {
    color: #ff00dc;
}

[member].rare name {
    color: orange;
}

[member].common name {
    color: rgba(255, 255, 255, 0.75);
}

[member] score {
    float: right;
    font-size: larger;
    padding-top: 4px;
}

[member] role {
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.8;
}

[member] tag {
    float: right;
    color: #32a7f4;
    margin-left: 8px;
    font-size: larger;
    transition: all 0.2s ease-in-out;
}

[member] tag+.tooltip {
    text-transform: capitalize;
}

[member] tag:hover {
    color: #fff;
}

.modal [member] {
    font-size: 1.5em;
    border-bottom: 8px solid #2196f3;
    background: url(../img/arena.jpg);
    background-position: center;
    background-size: 100%;
    box-shadow: inset 0 0 0 10000px rgba(255, 255, 255, 0.8);
    color: #555;
    border-radius: 2px;
}

.modal [member] score {
    font-weight: bold;
}

.modal [member] tag {
    font-size: 0.8em;
    border-radius: 100%;
    background: #2196f3;
    color: #fff;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 2px solid #2196f3;
}

.modal [member] tag:hover {
    color: #2196f3;
    background: transparent;
}


/* Card */

[card] {
    text-align: center;
    width: 25%;
    display: inline-block;
}

[card] cover {
    background-position: 50%;
    display: block;
    height: 180px;
    margin: 6px;
    border: 4px solid #666;
    border-radius: 2px;
    box-shadow: inset 0 -50px 20px -15px rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

[card] cover:hover {
    border-color: transparent !important;
    background-position: 50% 70%;
}

[card] cover.epic {
    border-color: magenta;
}

[card] cover.rare {
    border-color: orange;
}

[card] cover.legendary {
    border-color: #00ff7e;
}

[card] name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-weight: bold;
    padding-top: 120px;
    width: 100%;
}

[card] elixir-cost {
    background: #e22ee3;
    box-shadow: inset 0 -10px 8px rgba(0, 0, 0, 0.5);
    float: left;
    margin-top: -12px;
    margin-left: -12px;
    width: 30px;
    height: 35px;
    border-radius: 100% 100% 4px 100%;
    color: #fff;
    font-size: 1.4em;
    text-shadow: 0 0 5px #000;
}


/* Tooltip */

.tooltip.in {
    opacity: 1;
}

.tooltip .tooltip-inner {
    background-color: #2196f3;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: larger;
    color: #fff;
}

.tooltip .tooltip-arrow {
    border-top-color: #2196f3 !important;
}

.tooltip .tooltip-arrow {
    border-top-color: #2196f3 !important;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2196f3 !important;
}


/* Modal */

.modal-body {
    background: #333;
}

.modal-body.t-larger [type=radio] {
    margin-top: 11px;
}

.modal-header .close {
    margin-top: 7px;
}

footer {
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    font-size: 1.05em;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 10000px 0 10000px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: right;
}

footer:hover {
    opacity: 1;
}


/* Media */

@media screen and (max-width: 992px) {
    body:not(.pattern),
    .cover {
        background-size: cover;
        background-position: center;
        height: auto;
    }
}