<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.home">Donate Clan {{ version }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: state.includes('app.deck-list')}">
          <a ui-sref="app.deck-list" class="t-bold">MY DECKS</a>
        </li>
        <li ng-class="{active: state.includes('app.deck-new') && !state.params.index}">
          <a ui-sref="app.deck-new({index: null})" class="t-bold">BUILD</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li uib-tooltip="GitHub" tooltip-placement="bottom">
          <a href="http://github.com/AmirSavand/donate-clan" target="_blank">
            <i class="fa fa-fw hidden-xs fa-github"></i>
            <span class="visible-xs t-bold">GITHUB</span>
          </a>
        </li>
        <li uib-tooltip="Contact (Feedback)" tooltip-placement="bottom">
          <a href="mailto:amir@savandbros.com?Subject=Donate - Clan Website (Feedback)" target="_blank">
            <i class="fa fa-fw hidden-xs fa-paper-plane"></i>
            <span class="visible-xs t-bold">CONATCT</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<toaster-container
  toaster-options="{'position-class': 'toast-bottom-left'}">
</toaster-container>
