<div class="container-fluid cover cover-bg bg-arena mobile-same">
  <div class="container mobile-same">
    <h1>Royale<span>+</span> <small class="o-fade">v{{ version }}</small></h1>
    <h2>The best social site for Clash Royale.</h2>
  </div>
</div>

<div class="container">
  <div class="row">

    <!-- Left side -->
    <div class="col-lg-5">

      <!-- New Users -->
      <div class="card my-4">
        <div class="card-header bg-dark text-white py-4">
          New Users <i class="fas fa-fw o-fade float-right fa-user-plus"></i>
        </div>
        <div class="list-group list-group-flush">
          <!-- User -->
          <li class="list-group-item" ng-repeat="user in users">
            <!-- User image -->
            <img ng-src="{{ user.picture }}" class="user-image" width="48px">
            <!-- User name -->
            <a ui-sref="app.user({username: user.username, user: user})">{{ user.username }}</a>
            <!-- Follow -->
            <button class="btn btn-outline-success btn-sm float-right mt-1" ng-click="user.follow()">Follow</button>
          </li>
        </div>
        <!-- Loading -->
        <div class="card-body text-center bg-white py-5" ng-if="!users.length">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
      </div>

      <!-- Clan members -->
      <div class="card my-4">
        <div class="card-header bg-dark text-white py-4">
          Clan Members <i class="fas fa-fw o-fade float-right fa-chess"></i>
        </div>
        <div class="list-group list-group-flush" ng-if="members.length">
          <a class="list-group-item"
            ui-sref="app.member({ tag: member.get.tag, member: member })"
            ng-if="member.get.role != 'member'"
            ng-repeat="member in members | orderBy:'-roleRank' | limitTo:10">
            {{ member.get.name | underspace }}
            <small class="o-fade float-right">{{ member.get.role | uppercase }}</small>
          </a>
        </div>
        <!-- Loading -->
        <div class="card-body text-center bg-white py-5" ng-if="!members.length">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
      </div>

      <!-- Discussion -->
      <div class="card my-4">
        <div class="card-header bg-dark text-white py-4">
          Discussion <i class="fas fa-comments float-right text-secondary"></i>
        </div>
        <!-- Comment form -->
        <div class="card-footer">
          <ng-include src="static('components/comment/comment_form_include.html')"></ng-include>
        </div>
        <!-- Comment list -->
        <div class="list-group listr-group-flush text-dark">
          <div class="list-group-item" ng-repeat="comment in comments">
            <ng-include src="static('components/comment/comment_include.html')"></ng-include>
          </div>
        </div>
      </div>
    </div>

    <!-- Right side -->
    <div class="col-lg-7">

      <!-- Random Deck -->
      <div class="card my-4">

        <!-- Header -->
        <div class="card-header bg-dark text-white py-4">
          Random Deck &bull; {{ deck.getAvgElixir() }}
          <i class="fas fa-fw float-right o-fade fa-random"></i>
        </div>
        <div class="card-body bg-white mobile-card-body">

          <!-- Loading -->
          <div class="card-body text-center bg-white py-5" ng-if="!deck.cards.length">
            <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
          </div>

          <!-- Cards -->
          <card ng-repeat="card in deck.cards"
            ng-include="static('components/card/card_include.html')"
            ng-click="card.view()">
          </card>

          <!-- Buttons -->
          <div class="row mt-3" ng-if="deck.cards.length">

            <!-- New random deck -->
            <div class="col-lg-9">
              <button class="my-1 btn btn-lg btn-block btn-info"
                ng-disabled="generating" ng-click="generateDeck()">
                <i class="fas fa-fw fa-sync"></i> New Random Deck
              </button>
            </div>

            <!-- Edit deck -->
            <div class="col-lg-3">
              <button class="my-1 btn btn-lg btn-block btn-success" title="Edit this deck"
                ng-disabled="generating" ui-sref="app.deck-new({deck: deck})">
                <i class="fas fa-fw fa-edit"></i> <span class="d-lg-none">Edit Deck</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Recent Activities -->
      <div class="card my-4">
        <div class="card-header bg-dark text-white py-4">
          Recent Activities <i class="fas fa-fw o-fade float-right fa-flag"></i>
        </div>
        <div class="list-group list-group-flush text-dark">
          <!-- Activity -->
          <div class="list-group-item" ng-repeat="activity in activities">
            <ng-include src="static('components/activity/activity_include.html')"></ng-include>
          </div>
        </div>
        <!-- Loading -->
        <div class="card-body text-center bg-white py-5" ng-if="!activities.length">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
      </div>
    </div>
  </div>
</div>
