<div class="container-fluid cover cover-bg bg-arena">
  <div class="container">
    <h1>Royale Plus <small class="o-fade">v{{ version }}</small></h1>
    <br>
    <ng-include src="static('components/home/description.html')"></ng-include>
  </div>
</div>

<div class="container">
  <div class="row">

    <!-- Left side -->
    <div class="col-lg-5">

      <!-- New Users -->
      <div class="card my-4 bg-dark text-white">
        <div class="card-header py-4">
          New Users <i class="fas fa-fw o-fade float-right fa-user-plus"></i>
        </div>
        <div class="list-group list-group-flush">
          <!-- User link -->
          <a class="list-group-item" ng-repeat="user in users"
            ui-sref="app.user({username: user.username, user: user.get})">
            <!-- User image -->
            <img ng-src="{{ user.picture }}" class="user-image" width="48px">
            <!-- User name -->
            {{ user.username }}
            <!-- User joined since -->
            <small class="text-secondary float-right mt-2">{{ user.get.joined_since }} ago</small>
          </a>
        </div>
        <!-- Loading -->
        <div class="card-body text-center bg-white py-5" ng-if="!users">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
      </div>

      <!-- Clan members -->
      <div class="card my-4 bg-dark text-white">
        <div class="card-header py-4">
          Clan Members <i class="fas fa-fw o-fade float-right fa-chess"></i>
        </div>
        <div class="list-group list-group-flush" ng-if="members.length">
          <a class="list-group-item"
            ui-sref="app.member({ tag: member.get.tag, member: member })"
            ng-if="member.get.role != 'member'"
            ng-repeat="member in members | orderBy:'-roleRank'">
            {{ member.get.name | underspace }}
            <small class="o-fade float-right">{{ member.get.role | uppercase }}</small>
          </a>
        </div>
        <!-- Loading -->
        <div class="card-body text-center bg-white py-5" ng-if="!members.length">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
      </div>
    </div>

    <!-- Right side -->
    <div class="col-lg-7">

      <!-- Random Deck -->
      <div class="card my-4 bg-dark text-white">

        <!-- Header -->
        <div class="card-header py-4">
          Random Deck &bull; {{ deck.getAvgElixir() }}
          <i class="fas fa-fw float-right o-fade fa-random"></i>
        </div>
        <div class="card-body bg-white">

          <!-- Loading -->
          <div class="card-body text-center bg-white py-5" ng-if="!deck.cards.length">
            <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
          </div>

          <!-- Cards -->
          <card ng-repeat="card in deck.cards"
            ng-include="static('components/card/card_include.html')"
            ng-click="card.view()">
          </card>

          <!-- Buttons -->
          <div class="row mt-3" ng-if="deck.cards.length">

            <!-- New random deck -->
            <div class="col-lg-9 my-1">
              <button class="btn btn-lg btn-block btn-info"
                ng-disabled="generating" ng-click="generateDeck()">
                <i class="fas fa-fw fa-sync"></i> New Random Deck
              </button>
            </div>

            <!-- Edit deck -->
            <div class="col-lg-3 my-1">
              <button class="btn btn-lg btn-block btn-success" title="Edit this deck"
                ng-disabled="generating" ui-sref="app.deck-new({deck: deck})">
                <i class="fas fa-fw fa-edit"></i> <span class="d-lg-none">Edit Deck</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Recent Activities -->
      <div class="card my-4 bg-dark text-white">
        <div class="card-header py-4">
          Recent Activities <i class="fas fa-fw o-fade float-right fa-flag"></i>
        </div>
        <div class="list-group list-group-flush text-dark">
          <!-- Activity -->
          <div class="list-group-item" ng-repeat="activity in activities">
            <ng-include src="static('components/activity/activity_include.html')"></ng-include>
          </div>
        </div>
        <!-- Loading -->
        <div class="card-body text-center bg-white py-5" ng-if="!users">
          <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
        </div>
      </div>

      <!-- Discussion -->
      <div class="card my-4">
        <div class="card bg-dark text-white">
          <div class="card-header py-4">
            Discussion <i class="fas fa-comments float-right text-secondary"></i>
          </div>
          <div class="card-body bg-white text-center">

            <!-- Show button -->
            <button class="btn btn-lg btn-info m-0" ng-click="joinDiscussion()" ng-if="showDiscussion != true">
              <i class="fa fa-download"></i> Show Discussion
            </button>

            <!-- Widget -->
            <div disqus="'home'" ng-if="showDiscussion == true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
