<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header text-center py-4">
        <h3 class="w-100">Custom Tournaments</h3>
        <button class="btn btn-dark" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body bg-white text-dark p-4">
        <div class="card">
          <!-- Details -->
          <div class="card-body">
            <span class="text-secondary">
              <p>Custom tournaments on Royale Plus are not connected to Clash Royale tournaments.</p>
              <p>Custom tournaments rules, decks, match results and winner is set by the host.</p>
              <p>Custom tournaments are primarily made for friends or clanmates to battle and have fun.</p>
              <p class="mb-0">You can not join custom tournament, you can only be invited to one.</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
