<div class="modal-header dark">
  <h3 class="modal-title text-center t-bold" id="modal-title">
    {{ card.name | uppercase }}
  </h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-5 text-center">
      <img ng-src="{{ card.image }}" style="max-width: 100%">
    </div>
    <div class="col-md-7">
      <h4>
        <small>RARITY</small>
        <b class="pull-right rarity-{{ card.rarity | lowercase }}">{{ card.rarity }}</b>
      </h4>
      <h4>
        <small>COST</small>
        <b class="pull-right">{{ card.elixirCost }}</b>
      </h4>
      <h4>
        <small>TYPE</small>
        <b class="pull-right">{{ card.type }}</b>
      </h4>
      <h4>
        <small>ARENA</small>
        <b class="pull-right">{{ card.arena }}</b>
      </h4>
      <br>
      <b>{{ card.description }}</b>
    </div>
  </div>
</div>
