<!-- Cover -->
<div class="container-fluid cover cover-bg cover-bg-pattern bg-pattern text-white mobile-same">
  <div class="container mobile-same">
    <h1 class="text-dark my-2">
      <a class="text-white on-dark" ui-sref="app.deck({id: deck.id, deck: deck})">{{ deck.name }}</a>
    </h1>
    <h4 class="o-fade-soft">
      <span ng-if="deck.kind > 0">{{ deck.getKind() }} deck by</span>
      <a ui-sref="app.user({username: deck.user.username})" class="text">{{ deck.user.username }}</a>
    </h4>
  </div>
</div>

<!-- Deck -->
<div class="container py-4">

  <!-- Deck info -->
  <div class="row">

    <!-- Left side -->
    <div class="col-lg-7 my-4">

      <!-- Cards -->
      <div class="card bg-pattern text-white">
        <div class="card-body mobile-card-body">
          <card ng-repeat="card in deck.cards"
            ng-include="static('components/card/card_include.html')"
            ng-click="card.view()">
          </card>
        </div>
      </div>

      <!-- Deck discussion -->
      <div class="card my-4 bg-dark text-white mobile-hide">
        <div class="card-header py-4">
          Deck Discussion <i class="fas fa-comments float-right text-secondary"></i>
        </div>
        <div class="card-body bg-white text-center">
          <!-- Widget -->
          <div disqus="'deck-' + deck.id"></div>
        </div>
      </div>
    </div>

    <!-- Right side -->
    <div class="col-lg-4">

      <!-- Info -->
      <div class="card bg-dark my-4">
        <div class="card-header text-white py-4">
          Info <i class="fas text-secondary float-right fa-info-circle"></i>
        </div>

        <!-- List -->
        <ul class="list-group list-group-flush">

          <!-- AEC -->
          <li class="list-group-item">
            <span class="text-secondary">Avg elixir cost:</span>
            <span class="float-right">{{ deck.getAvgElixir() }}</span>
          </li>

          <!-- Kind -->
          <li class="list-group-item">
            <span class="text-secondary">Deck type:</span>
            <span class="float-right">{{ deck.getKind() }}</span>
          </li>

          <!-- Arena -->
          <li class="list-group-item">
            <span class="text-secondary">Deck arena:</span>
            <span class="float-right">{{ deck.getArena() }}</span>
          </li>

          <!-- Modes -->
          <li class="list-group-item">
            <span class="text-secondary">Deck modes:</span>
            <span class="float-right">
              <!-- Repeat modes -->
              <span ng-repeat="mode in deck.getModes()" ng-if="!deck.allModes">
                {{ mode }} <span ng-if="!$last">&bull;</span>
              </span>
              <!-- All modes -->
              <span ng-if="deck.allModes">All Modes</span>
            </span>
          </li>

          <!-- User -->
          <li class="list-group-item">
            <span class="text-secondary">Created by:</span>
            <span class="float-right"><a ui-sref="app.user({username: deck.user.username})">{{ deck.user.username }}</a></span>
          </li>

          <!-- Created -->
          <li class="list-group-item">
            <span class="text-secondary">Creation date:</span>
            <span class="float-right">{{ deck.date | date }}</span>
          </li>
        </ul>
      </div>

      <!-- Options -->
      <div class="card bg-dark my-4">
        <div class="card-header text-white py-4">
          Deck Options <i class="fa fa-cog float-right text-secondary"></i>
        </div>

        <!-- Normal options -->
        <div class="list-group list-group-flush">
          <a class="list-group-item" ui-sref="app.deck-list({username: deck.user.username})">View {{ deck.user.username }}'s Decks</a>
          <a class="list-group-item" ui-sref="app.deck-new({deck: deck})">Copy and Edit</a>
          <a class="list-group-item" ng-href="{{ deck.getCopyLink() }}">Copy to Game</a>
        </div>

        <!-- Owner options -->
        <div class="list-group list-group-flush" ng-if="deck.isOwner()">
          <small class="list-group-item disabled">Owner Options</small>
          <a class="list-group-item text-success" ui-sref="app.deck-new({id: deck.id, deck: deck})">Update Deck</a>
          <a class="list-group-item text-success" ng-click="deck.delete()">Delete Deck</a>
        </div>
      </div>
    </div>
  </div>
</div>
