{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block content %}
  <div class="container s-mar-top">
    {# Title #}
    <h1>Members</h1>
    <hr>
    {# Member list #}
    <div class="row">
      {% for user in users %}
        {% if not user.hidden %}
          <div class="col-md-3">
            <div class="card">
              <div class="card-body text-center">
                <i class="fa fa-5x fa-user-circle"></i>
                <br>
                <br>
                <h2><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></h2>
              </div>
            </div>
            <br>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
