{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="royalePlus" manifest="{% url 'appcache' %}">

<head>
  <!-- Meta data -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Royale Plus is a social website for Clash Royale players.">
  <meta name="keywords" content="clash, royale, decks, edit, build, cards, share, social, tournaments">
  <meta name="author" content="Amir Savand">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Title -->
  <title>Royale Plus &bullet; Best social site for Clash Royale</title>

  <!-- Icons -->
  <link rel="icon" type="image/png" sizes="512x512" href="{% static 'assets/img/favicon.png' %}{{ v }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/icons/favicon-32x32.png' %}{{ v }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/icons/favicon-16x16.png' %}{{ v }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/icons/apple-touch-icon.png' %}{{ v }}">
  <link rel="mask-icon" href="{% static 'assets/img/icons/safari-pinned-tab.svg' %}{{ v }}" color="#343a40">

  <!-- Configs -->
  <link rel="manifest" href="{% static 'assets/manifest.json' %}{{ v }}">
  <meta name="msapplication-TileColor" content="#343a40">
  <meta name="theme-color" content="#343a40">

  <!-- Lib styles -->
  <link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'lib/fontawesome/fontawesome.css' %}" />
  <link rel="stylesheet" href="{% static 'lib/animate/animate.css' %}" />
  <link rel="stylesheet" href="{% static 'lib/angular-toaster/toaster.css' %}" />

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}{{ v }}">
  <link rel="stylesheet" href="{% static 'assets/css/shorties.css' %}{{ v }}">
  <link rel="stylesheet" href="{% static 'assets/css/mobile.css' %}{{ v }}" media="(max-width: 767px)">
</head>

<body>
  <!--[if lte IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->

  <!-- Navbar -->
  <ng-include src="'{% static 'components/main/main.html' %}{{ v }}'" ng-controller="MainController"></ng-include>

  <!-- Main view -->
  <ui-view></ui-view>

  <!-- Footer -->
  <ng-include src="'{% static 'components/main/footer.html' %}{{ v }}'"></ng-include>

  <!-- Lib scripts -->
  <script src="{% static 'lib/jquery/jquery.js' %}"></script>
  <script src="{% static 'lib/popper/popper.js' %}"></script>
  <script src="{% static 'lib/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'lib/tether/tether.js' %}"></script>
  <script src="{% static 'lib/fontawesome/fontawesome.js' %}"></script>
  <script src="{% static 'lib/angular/angular.js' %}"></script>
  <script src="{% static 'lib/angular-toaster/toaster.js' %}"></script>
  <script src="{% static 'lib/angular-resource/angular-resource.js' %}"></script>
  <script src="{% static 'lib/angular-modal-service/angular-modal-service.js' %}"></script>
  <script src="{% static 'lib/angular-ui-router/angular-ui-router.js' %}"></script>

  <!-- Scripts -->
  <script src="{% static 'app.js' %}{{ v }}"></script>
  <script src="{% static 'app_directives.js' %}{{ v }}"></script>
  <script src="{% static 'app_filters.js' %}{{ v }}"></script>
  <script src="{% static 'app_constant.js' %}{{ v }}"></script>
  <script src="{% static 'app_routes.js' %}{{ v }}"></script>

  <script src="{% static 'components/api/api.js' %}{{ v }}"></script>

  <script src="{% static 'components/common/common.js' %}{{ v }}"></script>
  <script src="{% static 'components/common/pagination/pagination.js' %}{{ v }}"></script>

  <script src="{% static 'components/main/main_controller.js' %}{{ v }}"></script>

  <script src="{% static 'components/home/home_controller.js' %}{{ v }}"></script>

  <script src="{% static 'components/user/user_controller.js' %}{{ v }}"></script>

  <script src="{% static 'components/card/card.js' %}{{ v }}"></script>

  <script src="{% static 'components/activity/activity.js' %}{{ v }}"></script>

  <script src="{% static 'components/comment/comment.js' %}{{ v }}"></script>

  <script src="{% static 'components/tournament/tournament.js' %}{{ v }}"></script>
  <script src="{% static 'components/tournament/tournament_controller.js' %}{{ v }}"></script>
  <script src="{% static 'components/tournament/tournament_list/tournament_list_controller.js' %}{{ v }}"></script>
  <script src="{% static 'components/tournament/tournament_new/tournament_new_controller.js' %}{{ v }}"></script>

  <script src="{% static 'components/member/member.js' %}{{ v }}"></script>
  <script src="{% static 'components/member/member_controller.js' %}{{ v }}"></script>

  <script src="{% static 'components/deck/deck.js' %}{{ v }}"></script>
  <script src="{% static 'components/deck/deck_controller.js' %}{{ v }}"></script>
  <script src="{% static 'components/deck/deck_new/deck_new_controller.js' %}{{ v }}"></script>
  <script src="{% static 'components/deck/deck_list/deck_list_controller.js' %}{{ v }}"></script>

  <script src="{% static 'components/account/account.js' %}{{ v }}"></script>
  <script src="{% static 'components/account/auth/auth.js' %}{{ v }}"></script>
  <script src="{% static 'components/account/auth/auth_interceptor.js' %}{{ v }}"></script>
  <script src="{% static 'components/account/signin/signin_controller.js' %}{{ v }}"></script>
  <script src="{% static 'components/account/signup/signup_controller.js' %}{{ v }}"></script>
  <script src="{% static 'components/account/settings/settings_controller.js' %}{{ v }}"></script>

  <!-- ENV constant -->
  <script>
    app.constant("ENV", {
      PRODUCTION: "{{ production }}" === "True",
      ROYALE_PLUS: "//{{ request.get_host }}/",
      CLASH_API: "//www.clashapi.xyz/api/",

      VERSION: "{{ version }}",
      VERSION_STORAGE: 1,

      CLAN_TAG: "#2Y2C9RCJ",
      GOOGLE_ANALYTICS_ID: "UA-115461778-1",

      STATIC_URL: "{{ static_url }}",
      GITHUB: "https://github.com/AmirSavand/royale-plus",
    });
  </script>

  <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");
    ga("create", "UA-115461778-1", "auto");
  </script>
</body>

</html>
