<div class="container">
  <div class="row" vertilize-container>
    <div class="col-md-4 col-sm-6" ng-repeat="deck in decks | reverse">
      <div class="panel panel-warning animated bounce"
        style="background: rgba(0, 0, 0, 0.5)" >
        <div class="panel-heading">
          <b class="t-larger">{{ deck.name }}</b>
          <div class="pull-right">
            <div class="label label-info" style="margin-top: 5px"
              uib-tooltip="Avg Elixir Cost" tooltip-placement="left">
              <span class="t-larger">{{ deck.getAvgElixirCost() || 0 | number:1 }}</span>
              <i class="fa fa-tint init"></i>
            </div>
          </div>
        </div>
        <div class="panel-body" vertilize>
          <div class="inline-cards">
            <div class="inline-cards-item" ng-repeat="card in deck.cards">
              <img ng-src="{{ card.image }}" ng-click="card.view()" onload>
            </div>
          </div>
          <br>
        </div>
        <div class="panel-footer bg-dark">
          <button title="Delete {{ deck.name }}"
            class="btn btn-default o-fade-hard o-fade-hover"
            ng-click="remove(deck)">
            <i class="fa fa-fw fa-trash"></i>
          </button>
          <a class="btn btn-warning pull-right"
            ui-sref="app.deck-new({index: deck.index})">
            <i class="fa fa-fw fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 o-fade-soft">
      <div class="panel panel-default animated bounce o-fade o-fade-hover"
        style="background: rgba(0, 0, 0, 0.5)">
        <div class="panel-body text-center" ui-sref="app.deck-new" style="padding: 50px 0">
          <i class="fa fa-5x fa-plus text-warning"></i>
        </div>
      </div>
    </div>
  </div>
</div>
