<!-- Header -->
<div class="container py-4 mobile-same">

  <!-- Title -->
  <h1 class="text-dark my-2 mb-3">Custom Tournaments</h1>

  <!-- Details -->
  <span class="text-secondary">
    <p class="mb-1">Custom tournaments on Royale Plus are not connected to Clash Royale tournaments.</p>
    <p class="mb-1">Custom tournaments rules, decks, match results and winner is set by the host.</p>
    <p class="mb-1">Custom tournaments are primarily made for friends or clanmates to battle and have fun.</p>
    <p class="mb-1">You can not join custom tournament, you can only be invited to one.</p>
  </span>

  <!-- Line -->
  <hr class="mobile-hide mb-0">
</div>

<!-- List -->
<div class="container py-2">

  <!-- Loading -->
  <div class="text-center py-5" ng-if="!tournaments.length">
    <i class="fas fa-circle-notch fa-spin fa-5x text-warning"></i>
  </div>

  <!-- Tournament -->
  <div class="row">
    <div class="col-lg-4" ng-repeat="tournament in tournaments">
      <div class="card my-3">

        <!-- Header -->
        <div class="card-header bg-dark text-white py-4" ng-if="!deck.isDeleted">
          <a class="text-white on-dark">{{ tournament.name }}</a>
        </div>

        <!-- Tournament Info -->
        <div class="list-group list-group-flush">

          <!-- Prize -->
          <li class="list-group-item">
            <span class="text-secondary"><i class="fas fa-fw fa-trophy"></i> Prize:</span>
            <span class="float-right"><i class="fas fa-dot-circle text-warning"></i> {{ tournament.prize }}</span>
          </li>

          <!-- Host -->
          <li class="list-group-item">
            <span class="text-secondary"><i class="fas fa-fw fa-user"></i> Host:</span>
            <a ui-sref="app.user({username: tournament.user.username})" class="float-right">
              {{ tournament.user.username }}
            </a>
          </li>

          <!-- Participants -->
          <li class="list-group-item">
            <span class="text-secondary"><i class="fas fa-fw fa-users"></i> Participants:</span>
            <span class="float-right">{{ tournament.participants.length }}</span>
          </li>

          <!-- Status -->
          <li class="list-group-item">
            <span class="text-secondary"><i class="fas fa-fw fa-flag"></i> Status:</span>
            <span class="float-right">{{ tournament.getStatus() }}</span>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>