<div class="container animated fadeIn">
  <div class="row">
    <!-- New Deck -->
    <div class="col-md-8">
      <div class="panel panel-primary bg-dark">
        <!-- Header -->
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ deck.name || "Unnamed" }}
            <div class="label label-info pull-right"
              uib-tooltip="Avg Elixir Cost" tooltip-placement="left">
              {{ deck.getAvgElixirCost() || 0 | number:1 }}
              <i class="fa fa-tint init"></i>
            </div>
          </h3>
        </div>
        <!-- Empty slots -->
        <div class="panel-body slots-wrapper">
          <div class="row center-block slots">
            <div card class="col-xs-6 col-md-3 col-sm-3 col-xs-6 init auto"
              ng-repeat="card in slots track by $index">
              <ng-include src="'components/card/card_include.html'"></ng-include>
            </div>
          </div>
          <!-- Cards -->
          <div class="row center-block">
            <div card class="col-xs-6 col-md-3 col-sm-3 col-xs-6 init auto animated zoomInUp"
              ng-repeat="card in deck.cards track by $index">
              <ng-include
                ng-click="deck.removeCard(card)"
                src="'components/card/card_include.html'">
              </ng-include>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Deck info -->
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-edit"></i> Options</h3>
        </div>
        <div class="panel-body">
          <!-- Deck name -->
          <div class="form-group">
            <input type="text" ng-model="deck.name" class="form-control" placeholder="Deck name">
          </div>
          <!-- Generate button -->
          <button class="btn btn-warning btn-lg btn-block"
            ng-disabled="generating"
            ng-click="generateDeck()">
            <i class="fa fa-fw fa-refresh"></i> Generate Deck
          </button>
          <!-- Save button -->
          <button class="btn btn-success btn-lg btn-block"
            ng-disabled="generating" ng-click="save()" ng-if="!index">
            <i class="fa fa-fw fa-check"></i> Save Deck
          </button>
          <!-- Update button -->
          <button class="btn btn-info btn-lg btn-block"
            ng-disabled="generating" ng-click="save()" ng-if="index">
            <i class="fa fa-fw fa-check"></i> Update Deck
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- List of available cards -->
  <div class="panel panel-success bg-dark">
    <div class="panel-heading">
      <!-- Header -->
      <h3 class="panel-title">
        <!-- Title -->
        <span>Available Cards <b ng-if="cards.length">- {{ cards.length }}</b></span>
        <!-- Filter buttons -->
        <div class="btn-group pull-right" style="margin-top: -8px">
          <label class="btn btn-success t-bold"
            ng-repeat="filter in filters"
            ng-model="$parent.orderBy"
            uib-btn-radio="filter.key">
            {{ filter.label }}
          </label>
        </div>
      </h3>
    </div>
    <!-- Card list -->
    <div class="panel-body">
      <div class="row center-block">
        <div class="col-xs-6 col-sm-3 col-lg-2"
          ng-repeat="card in cards | orderBy: orderBy track by $index">
          <ng-include card class="auto animated bounceIn"
            ng-class="{'zoomOutUp cur-no': card.isInDeck(deck)}"
            src="'components/card/card_include.html'"
            ng-click="deck.addCard(card)">
          </ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
